@import "../Topography/topography.css";
@import"../Variables/Variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family:"Kumbh Sans" ;
    background-color: $White;
}

body{
    height: 100%;
    width: 100%;
}

ul{
   list-style: none;
}

a{
 text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
